*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.left {float:left;}
.right {float:right;}
.clear{clear:both;}
.active{
    font-weight: bold;
    color:#861BBF  !important;
}
.container{
    width:1050px;
    margin:0 auto;  
}
#header {
    margin:25px 0px;
}

h1 a{
    color:#861BBF;
    text-decoration: none;
    font-size:50px;
    font-weight: 100;
}
.search{
    width:440px;
    height: 70px;
    background-color: #C8EC7B;
    
}
.search input{
    margin: 20px;
    padding: 5px;
    font-size:15px;
    font-weight: bolder;
    border:1px solid #C8D03E;
}

.search input[type=submit]{
    background-color: #A751D6;
    color:#fff;
    float:right;
}
.search input[type=text]{
    background:#fff url(assets/images/search.png) no-repeat right;
    padding-right: 25px;
}

#menu,#footer{
    margin:20px 0;
    height: 80px;
    background: linear-gradient(#F8F594, #D5D533);
    background: -webkit-linear-gradient(#F8F594, #D5D533);
    background: -o-linear-gradient(#F8F594, #D5D533);
    background: -moz-linear-gradient(#F8F594, #D5D533);
}
#menu ul li{
    list-style: none;
    display: inline-block;
    padding:26px 0;   
}
#menu ul li a,.content ul li a{
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    color: #5d12e7;
    padding: 0 20px;
    border-right: 1px solid;
    transition:all .5s;
    font-weight: 100;
}
#menu ul li:last-child a{
    border-right:none;
}

#menu ul li a:hover,.content ul li a:hover{
    font-weight: bold;
    font-size:22px;
    color:#861BBF;
}
.article{
    height: 310px;
    background: linear-gradient(#E5F2BB, #B7E952);
    background: -webkit-linear-gradient(#E5F2BB, #B7E952);
    background: -0-linear-gradient(#E5F2BB, #B7E952);
    background: -moz-linear-gradient(#E5F2BB, #B7E952);
    font-size: 180%;
    padding:25px;
    color:#628F19;
    margin: 25px 0;
}
.article h1{
    font-weight: 100;
    margin:40px 0px;
    color:#316901;
    
}
.content{
    width:49%;
    border:1px solid;
    border-color:#E5F2BB;
    padding: 25px;
    border-radius: 20px;
}
.content h1{
    color:darkmagenta;
    padding:25px 0;
}
.content:first-child ul li{
/*    list-style-image: url(assets/images/arrow.png);*/
    background-image: url(assets/images/arrow.png);
}
.content:last-child ul li{
/*    list-style-image: url(assets/images/tick.png);*/
    background-image: url(assets/images/tick.png);
    height: 60px;
    background-position: left top;
}
.content ul li{
    background-repeat: no-repeat;
    background-position: 0;
    list-style: none;
    
}
.content ul li a{
    border:none;
    position: relative;
    left:50px;
    padding:0;
    line-height: 30px;
    text-transform: capitalize;
}
#footer{
    padding: 30px;
    margin-bottom: 0;
}
